<!-- <div class="container">
  <h1>Registration Form</h1>
  <form [formGroup]="registerForm">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" 
      ="firstName" />
      <div
        *ngIf="registerForm.controls['firstName'].errors"
        class="alert alert-danger"
      >
        Firstname field is invalid.
        <p *ngIf="registerForm.controls['firstName'].errors?.['required']">
          This field is required!
        </p>
      </div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" 
      ="lastName" />
      <div
        *ngIf="registerForm.controls['lastName'].errors"
        class="alert alert-danger"
      >
        Lastname field is invalid.
        <p *ngIf="registerForm.controls['lastName'].errors?.['required']">
          This field is required!
        </p>
      </div>
    </div>
    <div class="form-group">
      <fieldset formGroupName="address">
        <legend>Address:</legend>
        <label>Street</label>
        <input type="text" class="form-control" 
        ="street" />
        <label>Zip</label>
        <input type="text" class="form-control" 
        ="zip" />
        <label>City</label>
        <input type="text" class="form-control" 
        ="city" />
      </fieldset>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitted = true">
      Submit
    </button>
  </form>
  <br />
  <div [hidden]="!submitted">
    <h3>Employee Details</h3>
    <p>First Name: {{ registerForm.get("firstName")?.value }}</p>
    <p>Last Name: {{ registerForm.get("lastName")?.value }}</p>
    <p>Street: {{ registerForm.get("address.street")?.value }}</p>
    <p>Zip: {{ registerForm.get("address.zip")?.value }}</p>
    <p>City: {{ registerForm.get("address.city")?.value }}</p>
  </div>
</div> -->

<div class="col-md-6">
  <h3>contact form</h3>
  <form [formGroup]="contactForm" class="form">
    <div class="form-group my-2">
      <input
        type="text"
        formControlName="name"
        placeholder="Enter your name"
        class="form-control"
      />
    </div>
    <div class="form-group my-2">
      <input
        type="email"
        formControlName="email"
        placeholder="Enter your email"
        class="form-control"
      />
    </div>

    <div class="form-group my-2">
      <input
        type="password"
        formControlName="password"
        placeholder="Enter your password"
        class="form-control"
      />
    </div>

    <div class="form-group my-2">
      <input
        type="submit"
        name="send"
        class="btn btn-success mx-2"
        [disabled]="contactForm.invalid"
        (click)="postData()"
      />
      <!-- <button
        type="submit"
        class="btn btn-primary"
        (click)="contactForm.reset()"
        value=""
      >
        reset
      </button> -->
      <button class="btn btn-primary" (click)="setData()">set</button>
      <button class="btn btn-primary" (click)="resetData()">reset</button>
    </div>
  </form>
</div>
