<h3>Pipes in A ngular</h3>

<!-- pipes are used to transform the data  -->
<!-- pipe is used by using | -->

<!-- pipe types -->
<!-- build in ==> parametized pipes chaining -->
<!-- custome ==> filter -->
<p>{{ address.road | uppercase }}</p>
<p>{{ address.salary | currency : "INR" }}</p>
<p>{{ date | date : "dd/mm/yyyy" }}</p>
<p>{{ date | date : "fullDate" | slice : 0 : 8 | uppercase }}</p>
<p>{{ address.road | mypipes : "female" }}</p>
<p>{{ address | json | uppercase }}</p>
<!-- pipe name -->
<!-- uppercase -->
<!-- lowercase -->
<!-- slice -->
<!-- date -->
