<div class="container" style="text-align: center" *ngIf="!submitted">
  <form>
    <label>username</label>&nbsp;
    <input type="text" placeholder="enter username" #username />
    <br />
    <br />
    <label>password</label>&nbsp;
    <input type="password" placeholder="enter password" #password />
    <br />
    <br />
    <button type="button" (click)="onSubmit(username.value, password.value)">
      Login
    </button>
  </form>
</div>

<div *ngIf="submitted">
  <div *ngIf="isAuthenticated; else failureMsg">
    <h1>welcome, {{ username }}</h1>
  </div>
  <ng-template #failureMsg>
    <h2>wrong credentials</h2>
  </ng-template>
  <button type="button" (click)="submitted = false">back</button>
</div>
