<div class="text-center">
  <h1 class="text-danger">singleton object concept</h1>
  <app-agent1></app-agent1>
  <br />
  <br />
  <app-agent2></app-agent2>
</div>

<app-api-data></app-api-data>
<br />
<br />
<h1 class="text-danger">Basic routing</h1>

<div class="d-flex">
  <a
    routerLink="/"
    class="mx-3"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a routerLink="about" class="mx-3" routerLinkActive="active">About</a>
  <a routerLink="login" class="mx-3" routerLinkActive="active">Login</a>
  <a routerLink="profile" class="mx-3" routerLinkActive="active">Profile</a>
  <a routerLink="signup" class="mx-3" routerLinkActive="active">Signup</a>
</div>

<br />
<button class="btn btn-default" (click)="onClick()">click here</button>
<router-outlet></router-outlet>
<h1>Interace</h1>
<app-three></app-three>
<a routerLink="customer">customer module</a>
<a routerLink="order">order module</a>
